{% extends 'admin_head.html' %}
{% load static staticfiles %}
{% block title %}
商品类别查看
{% endblock %}
{% block body %}
<fieldset class="layui-elem-field layui-col-xs-offset3" style="width: 500px;">
  <legend>商品类别查看</legend>
  <div class="layui-field-box">
    <table class="layui-table">
      <thead>
        <tr>
          <th>顶级类别</th>
          <th>子级类别</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        {% for i in contacts.object_list %}
            <td >{{ i.uid.category_father }}</td>
            <td  class=" aa" data="{{ i.uid.category_father }}" gory_id="{{ i.id }}" >{{ i.Subgrade_name }}</td>

            <td>
              <div class="layui-input-inline" style="color: white; padding-left: 50px;">
              <a class="layui-btn layui-btn-danger layui-btn-small del" lay-event="{{ i.id }}" title="删除">删除<i class="layui-icon">&#xe640;</i></a>
              </div>
            </td>
      </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</fieldset>
<div class="layui-col-xs-offset3">
    {% if contacts.has_previous %}
   <a class="layui-btn layui-btn-primary" href="?page=1&amp;city={{ request.GET.city}}&amp;title={{ request.GET.title }}">首页</a>
   <a class="layui-btn layui-btn-primary" href="?page={{ contacts.previous_page_number }}&amp;city={{ request.GET.city}}&amp;title={{ request.GET.title }}">上一页</a> {% endif %} {% for i in page_number %} {% if i == contacts.number %}
   <a class="layui-btn layui-btn-primary layui-bg-orange " href="?page={{ i }}&amp;city={{ request.GET.city}}&amp;title={{ request.GET.title }}">{{ i}}</a> {% else %}
   <a class="layui-btn layui-btn-primary " href="?page={{ i }}&amp;city={{ request.GET.city}}&amp;title={{ request.GET.title }}">{{ i}}</a> {% endif %} {% endfor %} {% if contacts.has_next %}
   <a class="layui-btn layui-btn-primary" href="?page={{ contacts.next_page_number }}&amp;city={{ request.GET.city}}&amp;title={{ request.GET.title }}">下一页</a>
   <a class="layui-btn layui-btn-primary" href="?page={{ contacts.paginator.num_pages }}&amp;city={{ request.GET.city}}&amp;title={{ request.GET.title }}">尾页 &raquo;</a> {% endif %}
   <p>当前页面 {{ contacts.number }}，共 {{ contacts.paginator.num_pages }}页</p>
  </div>
<script>

layui.use('form', function(){
  var form = layui.form;
  form.render(); //更新全部
  //各种基于事件的操作，下面会有进一步介绍
});
$('.aa').dblclick(function () {
    var mi=$(this)
    var da=mi.attr('data')
    var title=mi.attr('gory_id')
     layer.prompt({title: '请输入要修改的值', formType: 3}, function(pass, index){
     layer.close(index);
     {#layer.msg( pass );#}
     if (da ==pass){
         layer.msg('输入的值一样,提交失败');
     }else{
          $.get('{% url "sort_add" %}',{'upid':title,"title":pass},function(data){

              if (data.msg =='1'){
                  layer.msg( "修改成功" );
                  mi.text(pass)
              }
            },'json')

     return false
        }
    });
})
$('.del').click(function () {
    var mi=$(this)
    var uid=mi.attr('lay-event')

    layer.confirm('确认要删除吗?', {
      btn: ['确认','取消'] //按钮
    }, function(){
    $.get('{% url "sort_View" %}',{'upid':uid,'del':'1'},function(data){
              if (data.msg =='2'){
                  layer.msg( "删除成功" );
              mi.parents('tr').remove()
              }else if (data.msg='1'){
                  layer.msg( "删除失败" );
              }
            },'json')
    });
    return false
})
</script>

{% endblock %}