{% extends 'admin_head.html' %}
{% load static staticfiles %}
{% block title %}
    商品添加
{% endblock %}

{% block body %}


<form class="layui-form layui-form-pane" action="{% url 'upload_data' %}" enctype="multipart/form-data" method="post">
  {% csrf_token %}
    <div class="layui-form-item">
    <label class="layui-form-label">商品名称</label>
    <div class="layui-input-block">
      <input type="text" name="Commodity_name" autocomplete="off" placeholder="请输入标题" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">价格</label>
      <div class="layui-input-inline" style="width: 100px;">
        <input type="text" name="Price" placeholder="￥" autocomplete="off" class="layui-input">
      </div>

    </div>
  </div>
  <div class="layui-form-item" style="width: 30%;" title="主要材质">
    <label class="layui-form-label">主要材质</label>
    <div class="layui-input-block">
      <select name="Commodity_category" lay-filter="aihao" >
        {% for i in category %}
         <option value="{{ i.id }}">{{ i.category_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">库存</label>
         <div class="layui-input-inline" style="width: 100px;">
         <input type="number" name="Stock" placeholder="" autocomplete="off" class="layui-input">
         </div>
    </div>
  </div>
  </div>
  <div class="layui-form-item" pane="">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <input type="radio" name="state" value="1" title="新发布" checked="">
      <input type="radio" name="state" value="0" title="在售">
      <input type="radio" name="state" value="2" title="下架">
    </div>
  </div>
<div class="layui-form-item">
    <div class="layui-inline">
        <label class="layui-form-label">商品图片</label>
         <div class="layui-input-inline">
         <input type="file" name="Commodity_img" placeholder="" autocomplete="off" class="layui-btn">
         </div>
    </div>



  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">商品描述 </label>
    <div class="layui-input-block">
              {{ from.media }}
              {{ from.as_p }}
    </div>
  </div>
  <div class="layui-form-item layui-col-xs-offset3" >
    <button class="layui-btn" id="sim">添加</button>
  </div>
</div>
</form>

<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  laydate.render({
    elem: '#date'
  });
  laydate.render({
    elem: '#date1',type: 'datetime'
  });
});

$('#sim').on('click', function(){
   layer.alert('偶吧深蓝style', {
    skin: 'layui-layer-lan'
    ,closeBtn: 0
    ,anim: 4 //动画类型
  });
  });


</script>

{% endblock %}