{% extends 'admin_head.html' %}
{% load static staticfiles %}
{% block title %}
详情资料
{% endblock %}
<link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">
{% block css %}
      <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">
{% endblock %}
{% block body %}
<h1 class="layui-col-xs-offset4">用户详情资料 </h1>
    <hr>
    <br>
<form class="layui-form layui-col-xs-offset2" action='{% url 'UP_user_data' %}' method="post" id="fo"  enctype="multipart/form-data">
{% csrf_token %}
<div class="layui-form-item layui-col-" style="width: 850px;">
    <label class="layui-form-label">姓　　名</label>
    <div class="layui-input-block">
      <input type="text" name="username" placeholder="姓名" autocomplete="off"  required="required" class="layui-input" value="{{ user.user }}" lay-verify="required"  >
    </div>
</div>
<input type="hidden" name="user_id" value="{{user.id }}">

<div class="layui-form-item" style="width: 850px;">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-block">
      <input type="text" name="email" placeholder="邮箱" autocomplete="off" class="layui-input" value="{{ user.email }}" required="required">
    </div>
</div>
<div class="layui-form-item" style="width: 850px;">
    <label class="layui-form-label">性　　别</label>
    <div class="layui-input-block">
        <input type="radio" name="sex" value="0" title="女" checked required="required">
       {% if user.sex == '1' %}
        <input type="radio" name="sex" value="1" title="男" checked>
       {% else %}
        <input type="radio" name="sex" value="1" title="男" >
       {% endif %}
    </div>
</div>
<div class="layui-form-item" style="width: 850px;">
    <label class="layui-form-label">用户状态</label>
    <div class="layui-input-block">
       {% if user.active %}
        <input type="radio" name="state" value="1" title="活动"  required="required" checked>
        <input type="radio" name="state" value="0" title="禁用" >
       {% else %}
        <input type="radio" name="state" value="1" title="活动" >
        <input type="radio" name="state" value="0" title="禁用" checked>
       {% endif %}
    </div>
</div>
<div class="layui-form-item" style="width: 850px;">
    <label class="layui-form-label">联系电话</label>
    <div class="layui-input-block">
      <input type="text" name="Phone" placeholder="联系电话" autocomplete="off" class="layui-input" required="required" value="{{ user.Phone }}">
    </div>
</div>
  <div class="layui-form-item" style="width: 850px;">
    <label class="layui-form-label">上传头像</label>
    <div class="layui-input-block">
    <label id="realBtn" class="btn btn-info">
    <img src="../../{{ user.headimage }}" alt="" width="100">
     <input type="file" id="file" name="file" class="mFileInput" style="left:-9999px;position:absolute;" onchange="previewFile()"  >
     <span class="layui-btn">上传头像</span>
     <span id="hade"></span>
     </label>
    </div>
  </div>
  <div class="layui-form-item" style="width: 850px;">
    <label class="layui-form-label"></label>
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="*">提交</button>
     <div class="layui-upload-list">
    </div>
  </div>
  </div>
</form>
<script>
function getFileName(path) {
    var pos1 = path.lastIndexOf('/');
    var pos2 = path.lastIndexOf('\\');
    var pos = Math.max(pos1, pos2);
    if (pos < 0) {
        return path;
    }
    else {
        return path.substring(pos + 1);
    }
}
$(document).ready(function () {
    $('#file').change(function () {
        var scr=$(this).attr("src");
        var str = $(this).val();
        var fileName = getFileName(str);
        var scr=$('#hade').text(fileName)
    });
});

 function previewFile() {
      var preview = document.querySelector('img');
      var file    = document.querySelector('input[type=file]').files[0];
      var reader  = new FileReader();

      reader.addEventListener("load", function () {
        preview.src = reader.result;
      }, false);

      if (file) {
        reader.readAsDataURL(file);
      }
    }
</script>
<script src="{% static 'js/jquery-1.11.0.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'layui-v1.0.4/layui/lay/dest/layui.all.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static 'js/citys.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    pca.init('select[name=P1]', 'select[name=C1]', 'select[name=A1]');
</script>

{% endblock %}



