
$('.a').click(function () {
var $inputVal = $(this).prev('input')
var $count = $inputVal.val()
var $obj = $(this).parents('.amount_box').find('.sum')
    var zhi=parseInt($obj.attr('value'))-1
    var gid=$obj.attr('gid')
    if (zhi>=1){
    $obj.attr('value',zhi)
    }
var zh=$obj.attr('value')
    if(zh =='0')
    {

        $obj.attr('value',1)
    }
     $.get('{% url "cart_del" %}',{'gid':gid,'zhi':zhi},function(data){
            alert(data['msg'])
        },'json')



console.log(zhi)
})