{% extends 'BC2_html/index.html' %}
{% load static staticfiles %}
{% block title %}
    个人资料
{% endblock %}

{% block body %}
    <style>
            img{
        overflow: hidden;

    }
     img{
        cursor: pointer;
        transition: all 0.6s;
    }
     img:hover{

        transform: scale(2);
    }
    </style>
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}"  media="all">
    <script src="{% static 'layui/layui.all.js' %}" charset="utf-8"></script>
<div class="layui-container layui-col-xs-offset4">
  <div class="layui-row">
    <div class="layui-col-md5">
        <fieldset class="layui-elem-field">
          <legend>个人资料</legend>
          <div class="layui-field-box">
             <blockquote class="layui-elem-quote layui-quote-nm">

                 <p>用户头像 :<img src="{{ user.profile.headimage }}" alt="" class="layui-nav-img" width="100px"></p>
                 <hr>
                 <p>姓名 :{{ user.profile.user }}</p>
                 <hr>
                 <p>地址 :{{ user.profile.address }}</p>
                 <hr>
                 <p>性别 :{% if  user.profile.sex  == '1' %} 男 {% else %}女 {% endif %}</p>
                 <hr>
                 <p>手机号码 :{{ user }}

                 {% if  user.profile.active ==  1 %}
                     <samp style="color:#5FB878;">以验证</samp>
                 {% else %}
                      <a class="layui-btn layui-btn-primary" href="{% url 'dxyz' %}" style="height: 40px;">点击此处验证手机号码</a>
                 {% endif %}

                 </p>
                 <br>
                 <a class="layui-btn layui-btn-primary layui-col-xs-offset3 aaa">修改个人资料</a>
             </blockquote>
          </div>
        </fieldset>
    </div>

  </div>
</div>


<script src="{% static 'layui/layui.js' %}"></script>

<script>
    $("#fo").submit(function () {
         data = {};
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },});
    $.ajax({
        type: "post",
        url: "{% url 'BC2_User' %}",
        dataType: "json",
        data:$(this).serialize(),
        success: function(data){
            if (data.ERRO==1){
                 $("#span_password").text('密码错误，或者您的邮箱已经别人注册，去点击忘记密码，找回账户');
            }
            else if(data.ERRO==2)
            {window.location.href="{% url 'BC2_index' %}";}
            else if (data.ERRO==3) {
                $("#span_password").text('你的账户可能已经被管理员禁用，请联系*****');
            }
        },error:function (xhr) {
        }
    });
    return false;
    })




$('.aaa').on("click",function(){
        var a
        a=$(this)
        uid=a.attr('lay-event')
        layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
          type: 2,
          title: '用户详情',
          shadeClose: true,
          shade: false,
          maxmin: true, //开启最大化最小化按钮
          area: ['1000px','520px'],
          offset: 'auto',
          scrollbar: false,
          anim: 2,
          content: '{% url 'BC2_User_modify' %}'+'?uid={{ user.id }}'
             });
         });
        return false
    });




</script>
{% endblock %}
