{% extends 'BC2_html/index.html' %}

{% block title %}
    登录
{% endblock %}

{% block body %}
    <section id="main" class="page-login">
        <div class="container_12">
            <div id="content" class="grid_12">
                <header>
                    <h1 class="page_title">登录用户</h1>
                </header>
                <article>
                    <div class="grid_6 new_customers">
			<h2><a href="{% url 'BC2_User' %}">新用户</a></h2>
			<p>通过在本商店注册，您可以更快地完成结帐流程，存储多个送货地址，查看和跟踪您帐户中的订单等
            </p>
			<div class="clear"></div>
                    </div>
                    <div class="grid_6 registed_form">
			<form class="registed" action="?nextpath={{ request.GET.nextpath }}&url={{ request.GET.url }}" method="post" id="fo">
                {% csrf_token %}
			    <h2>登录一个帐户</h2>
                <p>输入手机号码登录<br> 通过手机号码之后可以在个人资料中填写更多信息</p>
			    <div class="email">
				<strong>手机号码：</strong><sup>*</sup><br>
				<input type="text" name="email">
			    </div>
                <input type="hidden" name="next" value="{{ request.GET.get.next}}">

			    <div class="email">
				<strong>密码:</strong><sup>*</sup><br>
				<input type="password" name="password" >
                    <samp style="color: red" id="span_password"></samp>
			    </div>
			    <div class="submit">
				<input type="submit" value="登录">
                <a class="forgot" href="#">忘记密码了吗？</a>
				<sup>*</sup><span>必填字段</span>
			    </div>
			</form>
                    </div>
		</article>

                <div class="clear"></div>
            </div><!-- #content -->

            <div class="clear"></div>
        </div><!-- .container_12 -->
    </section><!-- #main -->
    <div class="clear"></div>





{% endblock %}





