{% extends 'BC2_html/index.html' %}
{% load static staticfiles %}
{% block title %}
    商品列表
{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <div class="container_12">
            <div class="grid_12">
                 <a href="index.html">Home</a><span></span><a href="#">Category</a><span></span><span class="current">This page</span>
            </div><!-- .grid_12 -->
        </div><!-- .container_12 -->
    </div><!-- .breadcrumbs -->

    <section id="main">
        <div class="container_12">
            <div id="content" class="grid_12">
                <header>
                    <h1 class="page_title">{{ commo.Commodity_name }}</h1>
                </header>

                <article class="product_page">
                    <div class="grid_5 img_slid" id="products">
			<img class="sale" src="{% static 'html/img/sale.png' %}" alt="Sale">
			<div class="preview slides_container">
			    <div class="prev_bg">
				<a href=".{{ commo.Commodity_img }}" class="jqzoom" rel='gal1' title="">
				    <img src=".{{ commo.Commodity_img }}" alt="Product 1" title="">
				</a>
			    </div>
			</div><!-- .preview -->



			<div id="pagination"></div>
		    </div><!-- .grid_5 -->

                    <div class="grid_7">
			<div class="entry_content">
                            <div class="soc">
				<img src="{% static "html/img/soc.png" %}" alt="Soc">
			    </div><!-- .soc -->

			    <div class="review">
				<a class="plus" href="#"></a>
				<a class="plus" href="#"></a>
				<a class="plus" href="#"></a>
				<a href="#"></a>
				<a href="#"></a>
				<span><strong>3</strong> REVIEW(S)</span>
                                <span class="separator">|</span>
			        <a class="add_review" href="#">ADD YOUR REVIEW</a>
			    </div>


                            <div class="ava_price">
                                <div class="price">
                                    <div class="price_old">$1,725.00</div>
                                    $1,550.00
				</div><!-- .price -->

				<div class="availability_sku">
				    <div class="availability">
					Availability: <span>In stock</span>
				    </div>
				    <div class="sku">
					SKU: <span>Candles OV</span>
				    </div>
				</div>
                                <div class="clear"></div>
			    </div>

                            <div class="parameter_selection">

			    </div>

			    <div class="cart">
                                <a href="#" class="bay"><img src="{% static 'html/img/bg_cart.png' %}" alt="Buy" title="">Add to Cart</a>
                                <a href="#" class="like"><img src="{% static 'html/img/like.png' %}" alt="" title=""> Add to Compare</a>
                                <a href="#" class="obn"><img src="{% static 'html/img/obl.png' %}" alt="" title="">Add to Compare</a>
                            </div>
			</div>
		    </div>
		    <div class="clear"></div>

                    <div class="grid_12" >
			<div id="wrapper_tab" class="tab1">
			    <a href="#" class="tab1 tab_link">商品描述</a>
                <div class="tab1 tab_body">
				{{ commo.describe|safe }}
				 </div>
                    <div class="clear"></div>
			    </div>

			    <div class="clear">
                    <p>{{ commo.describe }}</p>
                </div>

			</div>
		    </div>
		</article>
                <div class="related grid_12"></div>
                </div>
            </div>
    </section>

    <div class="clear"></div>
{% endblock %}
