{% extends 'admin_head.html' %}
{% load static staticfiles %}
{% block title %}
用户管理
{% endblock %}
{% block body %}
    <style>
    img{
        overflow: hidden;
    }
     img{
        cursor: pointer;
        transition: all 0.6s;
    }
     img:hover{

        transform: scale(2);
    }
    .pang{
        margin: 30px;
    }
</style>
<hr>
	<fieldset class="layui-elem-field">
	  <legend><h2>管理员查看</h2></legend>
	  <div class="layui-field-box">
			<table class="layui-table lay-size='sm" id="barDemo" >
			  <thead>
			    <tr>
			      <th>ID</th>
			      <th>用户名称</th>
			      <th>身份</th>
			      <td>所在组</td>
			      <td>操作</td>
			    </tr>
			  </thead>
			    <tbody>
			        {% for i in contacts.object_list %}
			      <tr>
				      <td>{{ i.id }}</td>
				      <td> {{ i.username }}</td>
				      <td> {% if i.is_superuser %} 超级管理员{% else %}管理员 {% endif %}</td>
				      <td>{% for c in  i.groups.all %}{{ c.name }} | {% endfor %}</td>
				      <td>
					      <div class="layui-btn-group">
				          <a class="layui-btn layui-btn-md" href="{% url 'editadmin' %}?uid={{ i.id }}" title="修改">修改 <i class="layui-icon">&#xe642;</i></a>
				          <a class="layui-btn layui-btn-danger layui-btn-md del" lay-event="{{ i.id }}" title="删除">删除<i class="layui-icon">&#xe640;</i></a>
					      </div>
				      </td>
			      </tr>
			  {% endfor %}
			    </tbody>
			</table>
	    </div>
	</fieldset>
<script>
layui.use('form', function(){
  var form = layui.form;
  form.render(); //更新全部
  form.render('select'); //刷新select选择框渲染
  //监听提交
  form.on('submit(formDemo)', function(data){
        });
    });
$('.del').on("click",function(){
        var a
        a=$(this)
        td = $(this)
        uid=a.attr('lay-event')
        layer.confirm('确认要删除此用户？', {
          btn: ['确认','取消'] //按钮
        }, function(){
          $.get('{% url "admin_delete" %}',{'upid':uid},function(data){
             if (data=1){
                   layui.use('layer', function(){
                   var layer = layui.layer;
                   layer.open({
                   content: '删除成功',
                });
             });
             td.parents('tr').remove()
             }
             else {
                 layui.use('layer', function(){
                   var layer = layui.layer;
                   layer.open({
                   content: '删除失败',});
                 });
             }},'json')
                },function(){
            });
        })

</script>
{% endblock %}