{% extends 'admin_head.html' %}
{% load static staticfiles %}
{% block title %} 商品分类管理 {% endblock %}
{% block body %}
  <br />
  <hr />
    <form class="layui-form layui-col-xs-offset3 " lay-filter="*" action="{% url 'BC2_category' %}" method="post">
  <fieldset class="layui-elem-field">
   <legend><h1>添加组名字</h1></legend>
   <div class="layui-field-box">

     <div class="layui-form-item " id="category_div">
       {% csrf_token %}

     <div class="layui-form-item ">
      <label class="layui-form-label" id="Subcategory_label">组名字</label>
      <div class="layui-input-inline " style="width: 300px;">
       <input type="text" name="Subcategory" placeholder="请输入" class="layui-input" id="int" />
      </div>
     </div>

       {% csrf_token %}
      <label class="layui-form-label">父类别</label>
      <div class="layui-input-inline">
       <select name="category" lay-verify="" multiple> <option value="0" id="category_select">
           <option value="">123123</option>
           <option value="">123123</option>
           <option value="">123123</option>
           <option value="">123123</option>
       </select>
      </div>
     </div>


     <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <button class="layui-btn layui-col-xs-offset1" lay-submit="" id="Subcategory">立即提交</button>
     </div>
     <input type="hidden" value="1" id="hi_id" name="hiud" />

   </div>
  </fieldset>
  <script src="{% static 'jquery-1.8.3.min.js' %}"></script>
  </form>

<script>
layui.use('form', function(){
  var form = layui.form;
    form.render();
  //各种基于事件的操作，下面会有进一步介绍
});
</script>
{% endblock %}
